DsdAF/src/conf/xml-resources/web-service-references/TPListas/wsdl/localhost_1098/TPListas.svc.xsd_xsd0.xsd

<?xml version="1.0" encoding="utf-8"?><xs:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://tempuri.org/"><xs:element name="CadenaConexion"><xs:complexType><xs:sequence/></xs:complexType></xs:element><xs:element name="CadenaConexionResponse"><xs:complexType><xs:sequence><xs:element minOccurs="0" name="CadenaConexionResult" nillable="true" type="xs:string"/></xs:sequence></xs:complexType></xs:element><xs:element name="ListarTP"><xs:complexType><xs:sequence><xs:element minOccurs="0" name="trainig" type="xs:int"/></xs:sequence></xs:complexType></xs:element><xs:element name="ListarTPResponse"><xs:complexType><xs:sequence><xs:element minOccurs="0" name="ListarTPResult" nillable="true" type="xs:string"/></xs:sequence></xs:complexType></xs:element><xs:element name="CalificarTP"><xs:complexType><xs:sequence><xs:element minOccurs="0" name="trainig" type="xs:int"/></xs:sequence></xs:complexType></xs:element><xs:element name="CalificarTPResponse"><xs:complexType><xs:sequence><xs:element minOccurs="0" name="CalificarTPResult" nillable="true" type="xs:string"/></xs:sequence></xs:complexType></xs:element></xs:schema>